@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-img {
  background-image: url("../../public/slider_23abf3e9-9740-4409-a321-a4ab7aa96c06-Photoroom.png");

}
.promo-1 {
  background-image: url("../../public/promotions/promo-1.png");

}
.promo-2 {
  background-image: url("../../public/promotions/promo-2.jpg");

}
